// Add some css variables
$color_1: #111111;
$color_2: rgb(128, 127, 131);
$font_family_1: Arial, sans-serif;
$font_family_2: 'Concert One', cursive;
$font_family_3: 'Open Sans', sans-serif;
$background_color_1: #f4f4f4;
$background_color_2: rgba(0,0,0,0.65);
$background_color_3: #eee;
$background_color_4: lightblue;