@import "_vars";

div {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
	font-family: $font_family_1;
	font-size: 16px;
	line-height: 24px;
}
body {
	margin: 0;
	padding: 0;
	font-family: $font_family_1;
	font-size: 14px;
	background-color: $background_color_1;
	text-align: center;
}
header {
	margin: 0;
	padding: 0;
}
footer {
	margin: 0;
	padding: 0;
}
section {
	margin: 0;
	padding: 0;
}
article {
	margin: 0;
	padding: 0;
}
nav {
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 25px;
	font-family: $font_family_2;
	color: $color_1;
	text-align: center;
}
h3 {
	margin: 0;
	padding: 0;
}
h4 {
	margin: 0;
	padding: 0;
}
img {
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
a {
	&:link {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
	}
}
hr {
	color: $color_2;
}
.hidden {
	display: none;
}
.clearFix {
	&:after {
		content: "";
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}
#headerSection {
	padding-top: 2%;
	padding-bottom: 2%;
}
#logo {
	padding-top: 2%;
	padding-bottom: 2%;
}
.large-img {
	background-image: url("../images/imageTint.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 450px;
	position: relative;
	margin-bottom: 20px;
}
.tint {
	background-color: $background_color_2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#websiteText1 {
	font-size: 18px;
	text-align: justify;
	font-family: $font_family_3;
	margin-bottom: 30px;
	margin-top: -10px;
	line-height: 28px;
}
#websiteText2 {
	font-size: 18px;
	text-align: left;
	font-family: $font_family_3;
	margin-bottom: 30px;
	margin-top: -10px;
	line-height: 28px;
}
#websiteText3 {
	font-size: 18px;
	text-align: justify;
	font-family: $font_family_3;
	margin-bottom: 20px;
	margin-top: 20px;
	line-height: 28px;
}
#teamTitle {
	margin-top: 20px;
}
.nameText {
	font-size: 24px;
	text-align: center;
	font-family: $font_family_2;
	margin-top: 20px;
	transition: background-color 1s;
	&:hover {
		background-color: $background_color_3;
	}
}
.positionText {
	font-size: 20px;
	text-align: center;
	font-family: $font_family_2;
	letter-spacing: 1px;
	transition: background-color 1.5s;
	&:hover {
		background-color: $background_color_3;
	}
}
.bioText {
	font-size: 14px;
	text-align: left;
	font-family: $font_family_3;
}
#productTitle {
	margin-bottom: 30px;
}
#colourBox {
	background-color: $background_color_4;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.productName {
	text-align: center;
	font-family: $font_family_2;
	font-size: 20px;
	margin-top: 10px;
}
.productSku {
	text-align: center;
	font-family: $font_family_2;
	font-size: 16px;
	margin-top: -18px;
}
.productDesc {
	font-family: $font_family_3;
	font-size: 14px;
	margin-top: -10px;
	text-align: left;
}
#footerSection {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}
#socialMedia {
	img {
		width: 8%;
		padding-left: 1%;
		padding-right: 1%;
	}
}