<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Welcome to Node with Express!</title>
</head>
<body>
    <h1>You're on the contact page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus optio ipsa blanditiis atque nihil enim nostrum saepe esse dignissimos corporis hic obcaecati earum molestiae pariatur veritatis magnam nam, error animi.Fugiat blanditiis nesciunt similique odio, autem expedita error deserunt consectetur nostrum eaque illum quam laborum, sunt soluta recusandae laudantium dolorem, dolorum voluptates necessitatibus perspiciatis. Nisi ea esse corrupti possimus quasi.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque enim quo iure ad aspernatur, natus asperiores ea eum dolorem. Quam quisquam at hic incidunt ut tempora inventore eos repudiandae nesciunt.</p>
</body>
</html>