<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Sunnies - Home</title>
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    
        <link href="https://fonts.googleapis.com/css?family=Concert+One|Open+Sans" rel="stylesheet">
    
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
<div class="container"><!-- Open container -->

<!-- HEADER -->
    <header id="headerSection">
        <!-- LOGO -->
        <div class="cell small 12" id="logo">
            <a href="#">
                <h2>Sunnies</h2>
            </a>
        </div>
    </header>

<!-- IMAGE WITH TINT -->
<section>
		<div class="large-img">
        	<div class="tint"></div>
    	</div>
    </section>

<!-- ABOUT US -->
<section>
		<a id="aboutSection"></a>
		<h2>ABOUT US</h2>
		<br>
		<div class="row justify-content-center">
			<p class="col-sm-10" id="websiteText1">Founded in October of 2019, Sunnies is a new unique sunglasses brand. Our sunglasses combine aesthetics with function, creating the best pair of shades for all day use. Sunnies is an all inclusive company, designing eyewear for both men and women. Choose from a variety of styles, colours and accessories on our website. We are an online company who ships super quick worldwide. Buy some Sunnies for the sun around you!</p>
		</div>

		<div class="row">
			<div class="col-sm-8">
    			<img src="images/imageBusiness1.jpg" alt="Image of Women Wearing Sunnies" title="Model Wearing Sunnies" width=100% height="100%"/>
    		</div>
    		<div class="col-sm-4">
    			<img src="images/imageBusiness2.jpg" alt="Image of Sunnies Sunglasses" title="Retro Sunglasses" width=100% height="100%"/>
    		</div>
    	</div>

    	<h2 id="teamTitle">OUR TEAM</h2>
		<br>
    	<div class="row justify-content-center">
			<p class="col-sm-10" id="websiteText2">Meet the Sunnies team. Our passion and eye for design is present in each pair of sunglasses we create and sell. We love our sunglasses as you can see from our team pictures!</p>
		</div>

    <div class="row">
        <div class="col-sm">
        	<img src="images/team1.jpg" alt="Image of Sunnies Team Member Hillary" title="Hillary Strong" width=100%/>
        	<p class="nameText">Hillary Strong</p>
        	<p class="positionText">CEO</p>
        	<p class="bioText">Hi, my name is Hillary! I created this business when I found no other unique sunglass company. My favourite design of shades are tortoise or patterned.</p>
        </div>
        
        <div class="col-sm">
            <img src="images/team2.jpg" alt="Image of Sunnies Team Member Tony" title="Tony Wilde" width=100%/>
            <p class="nameText">Tony Wilde</p>
            <p class="positionText">COO</p>
            <p class="bioText">Hi, my name is Tony! I was roommates with Hillary and she asked me to help her new sunglass business. My favourite style of sunglasses are circle or rectangle shaped.</p>
        </div>
        
        <div class="col-sm">
            <img src="images/team3.jpg" alt="Image of Sunnies Team Member Megan" title="Megan Kim" width=100%/>
            <p class="nameText">Megan Kim</p>
            <p class="positionText">CFO</p>
            <p class="bioText">Hi, my name is Megan! I have always wanted to get into the sunglass business and this was the perfect opportunity. My favourite unique colour of shades are red.</p>
        </div>

        <div class="col-sm">
            <img src="images/team4.jpg" alt="Image of Sunnies Team Member Jake" title="Jake Smith" width=100%/>
            <p class="nameText">Jake Smith</p>
            <p class="positionText">Secretary</p>
            <p class="bioText">Hi, my name is Jake! I love organizing Sunnies paperwork and orders. My team and I work well together. I really like polarized sunglasses to shield my eyes from the sun.</p>
        </div>
    </div>

<a href="#top"><p id="backAbout">Back to Top</a>
</section>


</div><!-- close container div -->
</body>

</html>