<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Sunnies - Home</title>
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    
        <link href="https://fonts.googleapis.com/css?family=Concert+One|Open+Sans" rel="stylesheet">
    
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    
    <!-- HEADER -->
    <header id="headerSection">>
        <!-- LOGO -->
        <div class="cell small 12" id="logo">
            <a href="#">
                <h2>Sunnies</h2>
            </a>
        </div>
    </header>




</body>

</html>